
   

:root {
    --primary: #eb1700;
    --main-bg: white;
    --secondary-bg: #fef1ee;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    margin: 0px;
    padding: 0px;
    display: block;
    height: 3000px;
}


.hero {
    text-align: center;
    align-content: justify;
    background: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,width=1200,format=auto,quality=60/https://cdn.doordash.com/media/consumer/home/landing/new/hero_landing_us_alt.jpg);
    width: auto;
    height: auto;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    width: 100vw;
    background-color: (var(--main-bg));
    min-height: 420px;
    padding-bottom: 192px;
}


.hero img{
    text-align: center;
    
}

.hero img {
    height: 24px;
    width: auto;
    margin-top: 15px;
}

.textbox{
    align-content: center;
}
.hero h1{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
    word-break: break-word;
    font-size: 63px;
    line-height: 76px;
    max-width: 900px;
    display: inline-flex;
    margin-top: 70px;
    margin-bottom: 34px;
}


.search-box{

    border-radius: 30px;
    background-color: white;
    width: 405px;
    height: 47px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0px 0px 0px 1px rgb(214, 214, 214) ;
    margin-bottom: 10px;
}

.search-txt {
    font-family: "Segoe UI", Helvetica;
    font-weight: 600;
    font-size: 16px;
    border: none;
    outline: none;
    width: 300px;
    line-height: 20px;
    text-align: left;
}

.search-btn {
    background-color: var(--primary);
    border-radius: 40px;
    width: 40px;
    height: 40px;
    transform: translate(-5.5px, 0px );
}

.search-btn img {
    transform: translate(0px, -6.5px);
}

.icon {
    height: 40px;
    width: 40px;
    font-weight: bold;
    transform: translate(10px, -8px);
    margin-right:10px ;

}

img {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    user-select: none;    /* Chrome, Safari 3 */
}

.saved-address {
    color: white;
    font-family: "Segoe UI", Helvetica;
    font-weight: bold;
}

li {
  display: inline;
  margin: 0 8px;
}
ul {
  list-style-type: none;
  text-align: right;
  margin-right: 20px;
  transform: translate(0, -17px);

}

.SI {
  color: white;
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration: none;
}

.SU {
  color:var(--primary);
  background: white;
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 25px;
}
.grid-container {
  width: 100%;
  height: 347px;
  margin: 108px 0;
}

.cards {
  display: grid;
  grid-template-columns: 255px 254px 255px;
  text-align: center;
  grid-template-rows: 347px;
  justify-content: center;
  align-items:start;
  flex-direction: row;
  column-gap: 150px;
  vertical-align: top;

}

.thumb {
  width: 100%;
  text-align: center;
}

.thumb img {
  width: 154px;
  height: 154px;
}
.text {
  height: 254px;
  width: 160px;
  display: inline;
}

.title {
font-family: "Segoe UI", Helvetica;
word-wrap: break-word;

}

.card-title {
  margin: 5px 0;
  font-size: 32px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.04ch;
  
}

.card-excerpt {
  font-size: 18px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 8px;
  line-height: 24px;
  color: rgb(25, 25, 25);
  font-weight: 500;
  letter-spacing: 0ch;
  
}

.btn {
  cursor: pointer;
  background: none;
  border: none;
  align-content: center;
  justify-content: center;
}

.btn span {
  font-family: "Segoe UI", Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.04ch;
  display: inline-block;
  color: var(--primary);
  margin: 12px 0px 0px;
  cursor: pointer;

}

.btn svg {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: text-top;
  transform: scale(0.66666);
  transform-origin: center center;
}