*{
    margin: 0;
    padding: 0;


}

body {
    height: 7374px;
}


.hero {
    text-align: center;
    background: url(Illustration.png);
    height: 580px;
    width: 1366px;
    margin: 0;
}


.hero img{
    text-align: center;
    
}

.hero img {
    height: 24px;
    width: auto;
    margin-top: 15px;
}

.hero h1{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: -0.04ch;
    text-transform: none;
    color: white;
    text-align: center;
    margin: 90px 220px;
    margin-bottom: 35px;
    word-break: break-word;
    display: block ;
}


.search-box{

    border-radius: 30px;
    background-color: white;
    width: 390px;
    height: 28px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 470px;
}

.search-txt {
    font-family: "Segoe UI", Helvetica;
    font-weight: 600;
    font-size: 16px;
    border: none;
    width: 350px;
    outline: none;
    padding: 0;
    line-height: 20px;
}

.search-btn {
    background-color: #eb1700;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    transform: translate(5.5px, 0px );
}

.search-btn img {
    transform: translate(0px, -6.5px);
}