*{
    margin: 0;
    padding: 0;
    position: relative;

}

body {
    height: 7374px;
    width: 1263px;
}


.hero {
    text-align: center0000000;
    align-content: justify;
    background: url(Illustration.png);
    height: 580px;
    width: 1263px;
    margin: 0;
}


.hero img{
    text-align: center;
    
}

.hero img {
    height: 24px;
    width: auto;
    margin-top: 15px;
}

.hero h1{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    color: white;

    word-break: break-word;
    display: block ;
}


.search-box{

    border-radius: 30px;
    background-color: white;
    width: 388px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: solid white 2px;
}

.search-txt {
    font-family: "Segoe UI", Helvetica;
    font-weight: 600;
    font-size: 16px;
    border: none;
    outline: none;
    width: 300px;
    line-height: 20px;
    text-align: left;
}

.search-btn {
    background-color: #eb1700;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    transform: translate(5.5px, 0px );
}

.search-btn img {
    transform: translate(0px, -6.5px);
}

.icon {
    height: 40px;
    width: 40px;
    font-weight: bold;
    transform: translate(3px, -8px);
    margin-right:10px ;

}

img {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    user-select: none;    /* Chrome, Safari 3 */
}

.saved-address {
    color: white;
    font-family: "Segoe UI", Helvetica;
    font-weight: bold;
    margin-top: 90px;
}

li {
    display: inline;
    margin: 0 8px;
}
ul {
    list-style-type: none;
    text-align: right;
    margin-right: 30px;
    transform: translate(0, -17px);

}

.SI {
    color: white;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: bold;
    text-decoration: none;
}

.SU {
    color:#191919;
    background: white;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 12px;
    border-radius: 25px;
}